* {
    box-sizing: border-box;
}
body,html {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x:hidden;
  overflow-y: hidden;
  font-family: 'PT Serif', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #000;
}
#container {
  width: 100%;
  height: 100%;
}
#menu {
  width: 100%;
  display: grid;
}
#sd {
  margin-top: 20px;
  width: 100%;
  position: relative;
  text-align: center;
  margin-left: auto;
  z-index: 5;
}
.sd-clicked {
  left: -10px;
  top:-10px;
}
.r {
  margin-top: 55px;
  display: inline-block;
  float: left;
}
.r2 {
  margin-top: -29.5px;
  position: static;
  display: inline-block;
  float: right;
}
.rect1 {
  width: 880px;
  height: 10px;
  background-color: #eaeaea;
  float: left;
  box-shadow: 0 0 14px #fff;

}
.rect2 {
  width: 880px;
  height: 10px;
  background-color: #eaeaea;
  float: right;
  box-shadow: 0 0 14px #fff;
}

.burger-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: visible;
    outline:none;
    display: inline-block;
    position: absolute;
    margin-top: -59px;
    margin-left: -20px;

}
.burger {
  width: 25px;
  padding-top: 15px;
  transition: 0.4s;
}
.burger-spin {

  width: 40px;
  -webkit-animation:spin 0.5s ease;
  -moz-animation:spin 0.5s ease;
  animation:spin 0.5s ease;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation-fill-mode:forwards; /*IE 10+*/
  animation-fill-mode:forwards; /*when the spec is finished*/
}
.logo  {
  position: static;
  width: 180px;
  display: block;
  margin: auto;
}
.menu-items {
  width: 100%;
  margin: auto;
}
.items-box {
  width:100%;
  margin: auto;
  padding-top: 100px;
  text-align: center;

}
.item {
  display: inline-block;
  margin-left: 14px;
  margin-right: 14px;
  opacity: 0;
  pointer-events: none;
  cursor: context-menu;
  filter: alpha(opacity=0);
  transition: all 0.5s ease-in-out;
}
.show-items{
  opacity: 1;
  transform:translate(0,0);
}
#quote-text {
  width: 100%;
  height: auto;
  margin-left: auto;
  transition: all 0.5s ease-in-out;
}
.left-quote {
  position: static;
  width: 150px;
  display: inline-block;
  padding-top: 25px;
  float: left;
  margin-left: 650px;
  margin-top: 100px;
}
.right-quote {
  position: static;
  width: 150px;
  display: inline-block;
  padding-top: 25px;
  float: left;
  margin-left: 350px;
  margin-top: 150px;
}
.move-quote {
  transform:translate(0,50px);
}
.l1 {
  padding-top: 25px;
  margin-left: -450px;
  margin-top: 150px;
  display: inline-block;
  color: white;
  font-family: 'PT Serif', sans-serif;
  font-size: 74px;
}
.link-condition {
  pointer-events: none;
  cursor: default;
}
.svg:hover {
  background-color: #25ac84;
}
.enable-links {
  pointer-events: auto;
  cursor: pointer;
}
.resume{
  z-index: 100;
  width: 200px;
  background-color: white;
  position: relative;
  display: none;
  padding: 16px;
}
.resume-logo {
  text-align: center;
}
.resume-text {
  font-size: 20px;
}
.show-resume {
  z-index: 100;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  display: block;
  box-shadow: 0 0 25px #3d3d3d;
}
#link-wrapper {
  text-align: center;
}
.icon-logo {
  width: 96px;;
  height: 96px;
  border-style: solid;
  border-width: 3px;
  border-color: #1f1f1f;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  display: inline-block;
  padding: 3px;
  margin-top: 20px;
  object-fit: cover;
  background-repeat: no-repeat;
}
.icon-logo:hover {
  filter: none;
  border-color: #0292db;
}


/*
.pt-page-moveToLeft {
	-webkit-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}
.pt-page-moveFromRight {
	-webkit-animation: moveFromRight .6s ease both;
	animation: moveFromRight .6s ease both;
}

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}
@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}
*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg);  margin-left: 15px; } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg);  margin-left: 15px; } }
@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg);  margin-left: 15px; } }
